<!-- 
<mat-card>
  <mat-card-title>Connection</mat-card-title>
  <mat-card-content>
    <form [formGroup]="myForm">
      <mat-input-container [ngClass]="{'error': myForm.controls['email'].errors && !myForm.controls['email'].pristine}" >
        <input type="email" matInput formControlName="email" placeholder="Email" required>
        <div *ngIf="myForm.controls['email'].errors && !myForm.controls['email'].pristine" class="error-msg">
          <div [hidden]="!myForm.controls['email'].errors.required">Email is required.</div>
          <div [hidden]="!myForm.controls['email'].errors.patternInvalid">Email is invalid.</div>
        </div>
      </mat-input-container>
      <mat-input-container [ngClass]="{'error': myForm.controls['password'].errors && !myForm.controls['password'].pristine}"
        dividerColor="{{myForm.controls['password'].errors && !myForm.controls['password'].pristine ? 'warn' : 'primary'}}">
        <input type="password" matInput formControlName="password" placeholder="Password" required>
        <div *ngIf="myForm.controls['password'].errors && !myForm.controls['password'].pristine" class="error-msg">
          <div [hidden]="!myForm.controls['password'].errors.required">Password is required.</div>
        </div>
      </mat-input-container>
    </form>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-raised-button class="btn" [disabled]="myForm.invalid" (click)="login()">Login</button>
  </mat-card-actions>
</mat-card> -->